

.destination-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.destinations .item header {
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}

.destinations .item {
    width: 312px;
    height: 754px;
}

.destinations .item .img-item {
    width: 100%;
    height: 368px;
    background-size: cover;
}

.item h4 {
    font-weight: var(--title-weight);
    font-size: 28px;
}

.item.tokyo .img-item {
    background: url("../img/tokyo-mobile.jpg") no-repeat;
    background-size: cover;
}

.item.osaka .img-item {
    background: url("../img/osaka-mobile.jpg") no-repeat;
    background-size: cover;
}